<div class="row" style="background-color:rgb(99, 99, 148)">
  <h1 style="margin-left: 50px;">FRUIT SHOP</h1>
    <ul class="nav justify-content-end" style="margin-left: 400px;">
      <%for(let i=0;i<nav.length;i++){%>
 <li class="nav-item">
          <a class="nav-link active" href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
      </ul>
    </div>
    
   
